@font-face {
  font-family: "NanumSquareRoundLight";
  src: url("/fonts/NanumSquareRoundL.ttf");
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("/fonts/NanumSquareRoundR.ttf");
}

@font-face {
  font-family: "NanumSquareRoundBold";
  src: url("/fonts/NanumSquareRoundB.ttf");
}

@font-face {
  font-family: "NanumSquareRoundExtraBold";
  src: url("/fonts/NanumSquareRoundEB.ttf");
}

* {
  font-family: "NanumSquareRoundBold";
}