
.listBody {
  display: flex;
  justify-content: center;
  width : 100%;
}

.map_body {
  display: flex;
  width: 100%;
  margin-top: 30px;
  overflow-y: auto;
}

#menu_wrap {
  position: flex;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25%;
  height: 1500px;
  margin: 0 0 30px 10px;
  padding: 10px;
  padding-top: 20px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  border-radius: 10px;
}


#menu_wrap .searchDiv {
  display: flex;
  align-items: center;
  border: 2px solid #8280DD;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 15px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

#menu_wrap .form-search {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 25px;
  font-size: 18px;
  margin-right: 10px;
}

#menu_wrap .searchBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
}

#menu_wrap .form-search::placeholder {
  color: #999;
  font-size: 15px;
}

#menu_wrap .fa-search {
  font-size: 20px;
}

#menu_wrap .searchIcon {
  color: #8280DD;
  font-size: 20px;
  margin-left: 10px;
}

.right {
  display: flex;
  flex-direction: column; /* 세로로 배치되도록 수정 */
  width: 75%;
  position: relative;
}
.map {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  margin-bottom: 30px;
  border: 1px solid;
  border-radius: 10px;
}

.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
  color: #000;
  text-decoration: none;
}

.map_wrap {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 2%;
  width: 100%;
  height: 45%;
  padding: 20px;
}

.drop {
  display: flex;
  align-items: flex-end;
  /* 요소들을 아래쪽으로 정렬 */
  gap: 10px;
  /* 요소 간의 간격을 20px로 설정 */
}

.select-container {
  position: relative;
  /* SVG 아이콘을 상대적으로 배치 */
  display: flex;
  flex-direction: column;
}

.select-label {
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 25px;
  color: #242261;
}

.select-container select {
  appearance: none;
  padding: 8px 16px;
  padding-right: 40px;
  /* 아이콘 공간 확보 */
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  font-size: 14px;
  color: #242261;
  cursor: pointer;
}

.select-container svg {
  position: absolute;
  right: 10px;
  bottom: 10px;
  pointer-events: none;
  /* SVG가 클릭되지 않도록 설정 */
  width: 16px;
  height: 16px;
  fill: #242261;
}

.searchBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #8280DD;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.searchBtn:hover {
  background-color: #008bd4;
}

.searchBtn svg {
  margin-left: 8px;
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.category-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.8);
  /* 배경색을 흰색으로 하고 투명도를 0.8로 설정 */
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  /* 지도 위에 배치 */
  top: 10px;
  /* 지도 상단에서 10px 떨어진 위치 */
  left: 10px;
  /* 지도 좌측에서 10px 떨어진 위치 */
  z-index: 10;
  /* 지도 위에 표시되도록 z-index 조정 */
  width: 55%;
  /* 너비를 80%로 설정 */
}


.category-list li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-list li.on {
  background-color: rgba(128, 209, 255, 0.7);
}

.category-list li:hover {
  background-color: rgba(128, 209, 255, 0.7);
}

.category-icon {
  width: 55x;
  height: 35px;
  margin-bottom: 5px;
}
.bg_white {
  background: #fff;
}

#menu_wrap .option {
  text-align: center;
}

#menu_wrap .option p {
  margin: 10px 0;
}

#menu_wrap .option button {
  margin-left: 5px;
}

li {
  list-style: none;
}

.item {
  position: relative;
  border-bottom: 1px solid #cecece;
  overflow: hidden;
  cursor: pointer;
  padding: 5px 0 5px 5px;
  min-height: 65px;
}


/* .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
} */

.infoTop {
  display: flex;
}

.infoBottom {
  display: flex;
}

.infoImg {
  width: 300px;
}

.infoCount,
.infoReview,
.infoType {
  margin-left: 10px;
}

.attraction-detail-container {
  position: relative; /* relative로 변경 */
  background-color: white;
  border-radius: 2%;
  width: 100%;
  height: 100%; /* 높이를 절반으로 설정 */
  overflow-y: auto;
  margin-top: 10px; /* map_wrap 아래에 약간의 여백 추가 */
}